// Helpers: Center
// ===============

@mixin center($xy: xy) {
    @if $xy == xy {
        bottom: auto;
        left: 50%;
        position: absolute;
        right: auto;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @else if $xy == x {
        left: 50%;
        position: absolute;
        right: auto;
        transform: translateX(-50%);
    }

    @else if $xy == y {
        bottom: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
